body{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.nav-bar{
    text-decoration: none;
    position: relative;
    margin-left: 4%;
    margin-bottom: 0%;
    height: 6rem;
    background: transparent;
    background-image: inherit;
    display: flex;
    align-items: center;

}

.navbar {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
@media screen and (min-width: 800px){
.nav {
    position: relative;
}
}



@media screen and (min-width: 800px){
.logo {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}
}
.nav{
    width: 90vw;
    display:flex;
        justify-content: space-between;
    align-items: center;
}

ul{
    float: left;
    text-decoration: none;
    display:inline-flex;
}

li{
    text-decoration: none;
    padding-right: 30%;
    display:inline-flex;
    font-size: x-large;
    margin: 0%;
    margin-bottom: 0%;
    color: rgb(218, 226, 232);

    
}
a{
    color: rgb(84, 102, 119);
}
button{
    background: transparent;
    border: transparent;
}
.cart{
    background: transparent;
    border-color: transparent;
    right: 5%;
    position: absolute;


}




.count{
    position: absolute;
    border-radius: 50%;
    top: -0.5rem;
    right: -0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    background:rgb(157, 80, 28) ;
    place-items: center;
    color: white;
}
a{text-decoration: none;}
.featured-containter{
    height: 100vh;
    display: block;
    box-sizing: border-box;
    position: absolute;

}
.f-container{ 
width: 100%;
height: 20px;
display: block;

}

.featured{
    text-align: center;
    font-size: 50px;
    display: block;
    color: rgb(109, 122, 133);

}
.slash{
    color:rgb(157, 80, 28);
}
.prod-container{
width: 90%;
}
.prod-image{

width: 100%;
height: 250px;
margin-left:0%;
margin-right: 0%;
display: block;

}

.prod{
    
width: 100%;
margin-left:1.5%;
margin-right: 0%;

}
.div{
  display: block;
}
.prod-container{
    display:flex;
    margin-left:5%;
  margin-right: 5%;

}

@media only screen and (max-width: 800px){.prod-container{
  display:flex;
  margin-left:5%;
margin-right: 5%;
position: relative;
height: 800px;
width: cover;
}
}
figure{
  display:block;
}
.price{
    margin-top: 1%;
    text-align: center;
    color: rgb(39, 39, 108);
}
figcaption{
    text-align: center;
    color: rgb(109, 122, 133);
  }


.container{

position: relative;
box-sizing: border-box;
}

.all-products {
    color: white;
    text-align: center;

}
.all-prod{
    background-color:rgb(157, 80, 28) ;
    padding: 1%;
    width: 20%;

    color: white;
  
}
a{
    text-decoration: none;
    font-weight: bolder;
}

@media screen and (min-width: 800px){.links{
    display: flex;
    font-size: 1.5rem;
    text-transform: capitalize;
}
}


@media only screen and (max-width: 1000px){.second-section{
    display:flex; 
  margin-left:5%;
margin-right: 5%;
position: relative;
height: 18 333330px;
width: cover;
}
}
.prod-image{

    width: 100%;
    height: 250px;
    margin-left:0%;
    margin-right: 2%;
 
    }

  
  
   .menu-section{
    margin-right: 5%;
    margin-top: 0%;
    display: block;
    margin-left: 1%;
    position: relative;

}
.products-container{
    display:inline-flex;
   position:absolute;
   margin-top: 0%;
}
.second-section{
    margin-left: 9%;
}

.menu-links{
    margin-left: 15%;
    height: 100vh;
    position: relative;
    margin-top: 17%;
}
.menu-links a{
  color: rgb(128, 146, 152);
margin-bottom: 15%;
font-size: medium;
font-family: Arial;
letter-spacing: 0.1rem;

}
.menu-links ul{
display: block;
height: 100vh;
margin-right: 10%;
}
.menu-container{
    margin-right: -10rem;
    display: block;
   padding: 0%;
}
.title{
    margin-bottom: 2%;
    background-color: rgb(237, 240, 241);
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 7%;
    display: block;
    color: rgb(69, 105, 134);
    position: relative;
    font-size: 1.25rem;
}
.search-text{

    background-color: rgb(237, 240, 241);
    height: 2.5rem;
    border: none;

}
.form-search{
    border: none;
}
.toggle-nav:hover {
    background: hsl(21, 45%, 27%);
  }

.toggle-nav {
    color: white;
    width: 3.75rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    background: hsl(21, 62%, 45%);

    border-color: transparent;
    border-radius: 2rem;
    transition: all 0.3s linear;
}

@media screen and (min-width: 800px) {
    .nav {
      position: relative;
    }
    .logo {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
    }
    .toggle-nav {
      display: none;
    }
    .links {
      display: flex;
      font-size: 1.5rem;
      text-transform: capitalize;
    }
    .nav-link {
      color: white;
      margin-right: 3rem;
      
      font-size: 1.25rem;
    }
    .nav-link:hover {
      color: hsl(21, 66%, 7%);
    }
  }

  
  .product-icon {
    width: 2.25rem;
    height: 2.25rem;
    background:hsl(21, 66%, 37%);
    color: white;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 1rem;
    border-color: transparent;
    margin: 0 0.5rem;
  }
  .product-icon:hover {
    background: hsl(21, 68%, 60%);
  }
  .product-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    transition: all 0.3s linear;
  }

  .container:hover .product-icons {
    opacity: 1;
  }@media screen and (max-width: 1000px){.logo{
    margin-left: 10%;
    }
    }
    
    @media screen and (max-width: 800px){.cart{
        position: fixed;
    }
    }
    
     .toogle-nav, .fa-bars{
        display: none;
        visibility: hidden;
    }
    @media screen and (max-width: 800px) { li{
        display: none;
      visibility: hidden;
      
    
    }
    }
    
    @media screen and (max-width: 800px) { .toogle-nav,.fa-bars{
        display:block;
        size: 50%;
        visibility:visible;
    
    
    }
    } 
  
  .product-icon {
    width: 2.25rem;
    height: 2.25rem;
    background:hsl(21, 66%, 37%);
    color: white;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 1rem;
    border-color: transparent;
    margin: 0 0.5rem;
  }
  .product-icon:hover {
    background: hsl(21, 68%, 60%);
  }
  .product-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    transition: all 0.3s linear;
  }

  .container:hover .product-icons {
    opacity: 1;
  }@media screen and (max-width: 1000px){.logo{
    margin-left: 20%;
    }
    }
    
    @media screen and (max-width: 800px){.cart{
        position: fixed;
    }
    }
    
     .toogle-nav, .fa-bars{
        display: none;
        visibility: hidden;
    }
    @media screen and (max-width: 800px) { li{
        display: none;
      visibility: hidden;
      
    
    }
    }
    
    @media screen and (max-width: 800px) { .toogle-nav,.fa-bars{
        display:block;
        size: 50%;
        visibility:visible;
    
    
    }
    } .logo{
        position: absolute;
        margin-top: 0%;
        transform: translate(-50%, -50%);
        left: 55%;
        top: 50%;
        
    
    
    }
    @media screen and (max-width: 1000px){.logo{
    margin-left: 10%;
    }
    }


   

   figure{
    display: block;
   }
   .container{
    display: grid;
   }
 
   .prod-container{
    position: flex;
    margin-left: 15%;
    margin-top: 5%;
    flex-wrap: wrap;
    overflow: hidden;
   }
   .prod-image {
    height: 15rem;
    object-fit: cover;
flex-wrap: wrap;  }

  @media only screen and (max-width: 1000px){.prod-container{
    display:block;
    margin-left:5%;
  margin-right: 5%;
  position: relative;
  height: 800px;
  width: cover;
  margin-left: 25%;

  }
  }

  @media only screen and (max-width: 1000px){.menu-section{
    display:block;

  position: relative;
  height: 80px;
  width: cover;
  }
  }

  @media screen and (min-width: 992px) {
    .prod-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    .prod-container .prod-image {
      height: 10rem;
    }
  
    .prod-container .price {
      font-size: 0.85rem;
    }
  }
  @media screen and (min-width: 1170px) {
    .prod-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  *{
    transition: all 0.2s linear;
  }